.picture-box {
  position: relative;
  display: flex;

  &__picture {
    filter: drop-shadow(.5rem 1rem 3rem rgba($dark-blue, .5)) sepia(25%);
    transform: translate(7rem, 6.5rem);

    & img {
      width: 80.5%;
      height: auto;
      clip-path: inset(0 round .5rem);
    }
  }

  &__background {
    position: relative;
    top: 0;
    left: 0;
    width:69.7rem;
    height: 65.7rem;

    background-image: url("~@/assets/images/pattern-bg.svg");
    background-repeat: no-repeat;
    background-size: contain;

  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    border-radius: 100px;

    background-color: #FFFFFF;
    position: absolute;
    bottom: 0;
    left: 14.5rem;
    z-index: 100;
    cursor: pointer;

    box-shadow: 1rem 1rem 4rem rgba($dark-blue, .4);

    &--right {
      display: flex;
      justify-content: end;
      align-items: center;
      padding-right: 1.5rem;

      width: 5rem;
      height: 5rem;
      z-index: 5;
    }

    &--left {
      display: flex;
      justify-content: start;
      align-content: center;
      align-items: center;
      padding-left: 1.5rem;

      width: 5rem;
      height: 5rem;
      z-index: 5;
    }


  }

}
