.picture-box {
  position: relative;
  display: flex;

  @include respond(tab-port) {
    order: 1;
  }

  &__picture {
    filter: drop-shadow(.5rem 1rem 3rem rgba($dark-blue, .5)) sepia(25%);
    transform: translate(6.8rem, 6.5rem);

    & img {
      width: 77%;
      height: auto;
      clip-path: inset(0 round .5rem);
    }
  }

  &__background {
    position: relative;
    top: 0;
    left: 0;
    width:69.7rem;
    height: 65.7rem;

    background-image: url("~@/assets/images/pattern-bg.svg");
    background-repeat: no-repeat;
    background-size: contain;

    @include respond(tab-port) {
      width: 100%;
      background-repeat: no-repeat;
      margin: 4rem;
    }

  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    border-radius: 100px;

    background-color: #FFFFFF;
    position: absolute;
    bottom: 4%;
    left: 14.5rem;
    z-index: 1000;
    cursor: pointer;

    box-shadow: 1rem 1rem 4rem rgba($dark-blue, .4);


    @include respond(tab-port) {
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 25%;
      height: 12%;
      padding: 1rem;
      z-index: 1000;
      left: 0;
      bottom: -4%;
      margin: 0 auto;
    }

    &--line {
      height: 4rem;
    }

    &--right {
      display: flex;
      justify-content: end;
      align-items: center;
      padding-right: 1.5rem;

      width: 5rem;
      height: 5rem;
      z-index: 5;

      @include respond(tab-port) {
      }

    }

    &--left {
      display: flex;
      justify-content: start;
      align-content: center;
      align-items: center;
      padding-left: 1.5rem;

      width: 5rem;
      height: 5rem;
      z-index: 5;

      @include respond(tab-port) {
      }

    }


  }

}
